html,
body {
	padding: 0;
	margin: 0;
	font-family: "Whitney Light Regular", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
