.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	flex: 1;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #2c2f33;
}

.footer {
	width: 100vw;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2c2f33;
	color: white;
	transition: color 0.2s ease;
	font-family: "Whitney Light Regular";
}

.footer:before {
	border-top: 1px solid #23272a;
	position: absolute;
	width: 15%;
	content: "";
	bottom: 3em;
}

.main > h1 {
	font-family: "Whitney Bold";
	color: #fff;
	font-size: 5em;
	z-index: 1;
}

.blob {
	width: 5em;
	height: 5em;
}

@media (max-height: 800px) {
	.main > h1 {
		font-size: 4em;
	}
}

@media (max-height: 600px) {
	.main > h1 {
		font-size: 3em;
	}
}

.footer:hover {
	color: #7289da;
}
